<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Home</display-name>
  <welcome-file-list>
   <welcome-file>index.html</welcome-file>
   <welcome-file>index.htm</welcome-file>
   <welcome-file>index.jsp</welcome-file>
   <welcome-file>default.html</welcome-file>
   <welcome-file>default.htm</welcome-file>
   <welcome-file>default.jsp</welcome-file> 
  </welcome-file-list>
  <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>MyServletDemo</servlet-class> 
  </servlet>
  <servlet-mapping>
       <servlet-name>Home</servlet-name>
       <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <context-param>
      <param-name>uname</param-name>
      <param-value>Rajat panwar</param-value>
  </context-param>
  <context-param>
      <param-name>uemail</param-name>
      <param-value>rajatkp11@gmail.com</param-value>
  </context-param>
  
